@import url('https://fonts.googleapis.com/css2?family=Anton&family=Archivo+Black&family=Prompt:wght@500&display=swap');



body{
  background-image: url('https://trinker.media/assets/img/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  padding: 0;

}


.titel h1{
    color:#ffffff;
    font-family: 'Secular One', sans-serif;
    font-size: 5vmax;
    position:fixed; top:-7.5vmin;
    text-align: center;
    align-items: center;
    vertical-align: center;
    width: 100%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    z-index: 4;
}

@media (min-width: 500px) and (max-width: 1600px) {
    .titel h1{
      position:fixed;
      font-size: 8vmin;
      top:-7vmin;
    }
}

@media (min-width: 800px) and (max-width: 1000px) {
  .titel h1{
    position:fixed;
    font-size: 7.5vmax;
    top:-7vmax;
  }
}

@media (min-width: 1600px) and (max-width: 2900px) {
  .titel h1{
    position:fixed;
    font-size: 5vmax;
    top:-3.5vmax;
  }
}

@media (min-width: 400px) and (max-width: 500px) {
  .titel h1{
    position:fixed;
    font-size: 10vmin;
    top:-8vmin;
  }
}

@media (max-width: 500px) {
  .titel h1{
    position:fixed;
    font-size: 16vmin;
    top:-8vmin;
  }
}

@media (min-width: 1300px) and (max-width: 1400px) {
  .titel h1{
    position:fixed;
    font-size: 12vmin;
    top:-10vmin;
  }
}

@media (min-width: 1100px) and (max-width: 1200px) {
  .titel h1{
    position:fixed;
    font-size: 11vmin;
    top:-10vmin;
  }
}

@media (min-width: 1200px) and (max-width: 1300px) {
  .titel h1{
    position:fixed;
    font-size: 11.5vmin;
    top:-10vmin;
  }
}

.titel{
    position:fixed; left: 0px; top: -2%;
    width: 100%;
    box-sizing: content-box;
    height: 8vmax;
    background-color: #111A3D;
    margin: 0 auto;
    padding: 0 auto;
    text-align: center;
    z-index: 3;
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 500px) {
    .titel {

      height: 14vmax;
    }
}
  
.grupp {
    position:relative; left: 0px; top: 9vmax;
    width: 50%;
    box-sizing: content-box;
    height: 4vmax;
    background-color: #060f3d;
    margin: 0 auto;
    padding: 0 auto;
    text-align: center;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    border-radius: 30%;
}

.grupp p{
    color:#ffffff;
    font-family: 'Secular One', sans-serif;
    font-size: 4vmax;
    position:relative; left: 13.5vmax; top: -0.8vmax;
    width: 100%;
    margin: 0 auto;
    padding: 0 auto;
    text-align: center;
    vertical-align: center;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 500px) {
    .grupp {
      display: none;

    }
    .grupp p{
      display: none;
    }
}

h2 {
  color:#2b3872;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3vw; 
  text-align: center;
  vertical-align: center;
  width: 100%;
  height: 100%;
  position: relative;
  top: 2vw;
}



.container{
    position: relative; left: 2%; top: 4vh;
    width: 85%;
    height: 100%;
    margin: 15vh auto;; 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    vertical-align: center;
    text-align: center;
}

.container .button{
    vertical-align: center;
    text-align: center;
    position:relative;
    width: 60%;
    height: 100%;
    background-image: linear-gradient(to bottom right, rgb(194, 236, 255), rgb(99, 138, 223));
    margin: 10%;
    box-sizing: border-box;
    border-radius: 2vmin;
    z-index: 1;
    display: flex;
    border: none;
}
button:active {
  border-style: outset;
}

@media (max-width: 600px) {
  .container{
    position: relative; left: 11%; top: 30vw;
    grid-template-columns: repeat(2, 1fr);
    width: 70%;
    height: 100%;
    margin: 30px;
    vertical-align: center;
    text-align: center;
    align-items: center;
    }
  .container .button{
    position: relative; left: 0px; top: -10vw auto;;
    width: 60%;
    height: 80%;
    margin: 10%;
    display: inline block;
  }

  h2 {
    font-size: 6vw;
  }
}

.ib {
  position:relative; left: 0px; top: 4vmax;
  width: 20%;
  box-sizing: content-box;
  height: 4vmax;
  background-color: #060f3d;
  margin: 0 auto;
  padding: 0 auto;
  text-align: center;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  border-radius: 30%;
}

.ib p{
  color:#ffffff;
  font-family: 'Secular One', sans-serif;
  font-size: 4vmax;
  position:relative; left: 8vmax; top: -0.8vmax;
  width: 100%;
  margin: 0 auto;
  padding: 0 auto;
  text-align: center;
  vertical-align: center;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 600px) {
  .ib {
    display: none;
  }
  .ib p{
    display: inherit;
  }
}

.klockan {
  position: relative; left: 0px; top: 10vmax;
  width: 40vmax;
  height:8%;
  margin: 0 auto;
  padding: 0 auto;
  text-align: center;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  border-radius: 2vmin;
  background-image: linear-gradient(to bottom right, rgb(194, 236, 255), rgb(99, 138, 223));
}

.klockan .tid {
  position: relative; left: 0px; top: 0px;
  width: 100%;
  height: 100%;
}

h3 {
  color:#2b3872;
  font-family: 'Prompt', sans-serif;
  font-size: 4vw;
  position: relative;
  text-align: center;
  vertical-align: center;
  width: 100%;
  margin:auto;
  margin-top: 4vw;
}

h4 {
  color:#2b3872;
  font-family: 'Prompt', sans-serif;
  font-size: 4vw;
  position: relative;
  text-align: center;
  vertical-align: center;
  width: 100%;
  margin:auto;
  margin-bottom: 5vw;
  margin-top: 4vw;
}
h5 {
  color:#2b3872;
  font-family: 'Anton', sans-serif;
  font-size: 1vw;
  position: relative;
  text-align: center;
  vertical-align: center;
  width: 100%;
  margin:auto;
  margin-bottom: 1vw;
}

h6 {
  color:#ffffff;
  font-family: 'Archivo Black', sans-serif;;
  font-size: 5vw;
  position: relative;
  text-align: center;
  vertical-align: center;
  width: 100%;
  margin-bottom: 1vw;
  background-color: #111A3D;
  margin:auto;
}


    
  

@media (max-width: 600px) {
  .klockan{
    position: relative; left: 0; top:20vmax;
    width: 80%;
    height: 100%;
    vertical-align: center;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

.klockan .tid{
    position: relative; left: 0px; top: -10vw auto;;
    width: 100%;
    height: 80%;
    margin: 10%;
    display: inline block;
  }

  .klockan .tid h3{
    font-size: 10vw;

  }

  .klockan .tid h4{
    font-size: 10vw;

  }

  .klockan .tid h5{
    font-size: 3vw;

  }

  .klockan .tid h6{
    font-size: 12vw;
    width: 126%;
    margin-top: none;
    position: relative; left: -8vw; top: -8vw;
    margin-bottom: 0%;
  }
}