<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Secular+One&family=Staatliches&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>INSTANs</title>
    <link rel="icon" type="image/x-icon" href="static\css\favicon.ico">
   
  </head>

  <body>
    <div class="titel">
      <div class="logga"><img src=static\css\INSTANS1.png>
      </img></div>
      </div>

    <div class="klockan">
        <div class = "tid">
            <h6>CP23</h6>
            <h3>LUNCH: 12:00</h3>
            <h4>SLUTAR: {{ cp23 }}</h4>
            <h5>Du är skitsnygg idag</h5>
        </div>

  </body>
</html>