<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      href="https://fonts.googleapis.com/css2?family=Secular+One&family=Staatliches&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/css/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>INSTANs</title>
    <link rel="icon" type="image/x-icon" href="static\css\favicon.ico">
  </head>
  <body>
    <h1>Vi ses på måndag!</h1>
  </body>
</html>
