<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Secular+One&family=Staatliches&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="prefetch" href="Bm23.html" />
    <title>My SSHL</title>
  </head>
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script type="text/javascript">
    function btnB3() {
      window.location.href = "/bm23";
    }

    function btnB4() {
      window.location.href = "/bm24";
    }

    function btnB5() {
      window.location.href = "/bm25";
    }

    function btnE3() {
      window.location.href = "/ek23";
    }

    function btnE4() {
      window.location.href = "/ek24";
    }

    function btnE5() {
      window.location.href = "/ek25";
    }

    function btnN3() {
      window.location.href = "/na23";
    }

    function btnN4() {
      window.location.href = "/na24";
    }

    function btnN5() {
      window.location.href = "/na25";
    }

    function btnS3() {
      window.location.href = "/sa23";
    }

    function btnS4() {
      window.location.href = "/sa24";
    }

    function btnS5() {
      window.location.href = "/sa25";
    }

    function btnD3(){
    window.location.href = "/dp23";
    }

    function btnD4(){
    window.location.href = "/dp24";
    }

    function btnC3(){
    window.location.href = "/cp23";
    }  

    function btnC4(){
    window.location.href = "/cp24";
    }
  </script>

  <body>
    <div class="titel">
      <div class="logga"><img src=static\css\INSTANS1.png>
      </img></div>
    </div>

    <div class="grupp">
      <div><p>GYMNASIET</p></div>
    </div>

    <div class="container">
      <div class="button" onclick="btnB3()"><h2>BM23</h2></div>

      <div class="button" onclick="btnE3()"><h2>EK23</h2></div>

      <div class="button" onclick="btnN3()"><h2>NA23</h2></div>

      <div class="button" onclick="btnS3()"><h2>SA23</h2></div>
    </div>
    <div class="container">
      <div class="button" onclick="btnB4()"><h2>BM24</h2></div>

      <div class="button" onclick="btnE4()"><h2>EK24</h2></div>

      <div class="button" onclick="btnN4()"><h2>NA24</h2></div>

      <div class="button" onclick="btnS4()"><h2>SA24</h2></div>
    </div>
    <div class="container">
      <div class="button" onclick="btnB5()"><h2>BM25</h2></div>

      <div class="button" onclick="btnE5()"><h2>EK25</h2></div>

      <div class="button" onclick="btnN5()"><h2>NA25</h2></div>

      <div class="button" onclick="btnS5()"><h2>SA25</h2></div>
    </div>

    <div class="ib">
      <div><p>IB</p></div>
    </div>

    <div class="container">
      <div class="button" onclick="btnD3()"><h2>DP23</h2></div>

      <div class="button" onclick="btnC3()"><h2>CP23</h2></div>

      <div class="button" onclick="btnD4()"><h2>DP24</h2></div>

      <div class="button" onclick="btnC4()"><h2>CP24</h2></div>
    </div>
  </body>
</html>
