<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      h1 {
        text-align: center;
      }
    </style>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/style.css">
    <title>My SSHL</title>
  </head>

  <body>
    <div class="titel">
      <h1>Ses Sen</h1>
    </div>
    
    <p>{{foura}}</p>

    <div class="container">
      <div class ="box"><h2>BM24</h2>
        <div class ="content"><h3>15:45</h3></div>
      </div>
      <div class ="box"><h2>SA24</h2></div>
      <div class ="box"><h2>EK24</h2></div>
      <div class ="box"><h2>NA24</h2></div>
      <div class ="box"><h2>DP24</h2></div>
    </div>

  </body>
</html>
