<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Secular+One&family=Staatliches&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>My SSHL</title>
   
  </head>

  <body>
    <div class="titel">
      <h1>INSTANS</h1>
    </div>

        <div id="parallax"></div>

    <script: src="../script/main.js"></script:>

    <div class="container">
      <div class ="box">
        <div class = "klass"><h2>BM23</h2></div>
        <div class ="content"><h3>15:45</h3></div>
      </div>
      <div class ="box">
        <div class = "klass"><h2>EK23</h2></div>
        <div class ="content"><h3>14:30</h3></div>
      </div>
      <div class ="box">
        <div class = "klass"><h2>NA23</h2></div>
        <div class ="content"><h3>12:30</h3></div>
      </div>
      <div class ="box">
        <div class = "klass"><h2>SA23</h2></div>
        <div class ="content"><h3>15:30</h3></div>
      </div>
      <div class ="box">
        <div class = "klass"><h2>DP23</h2></div>
        <div class ="content"><h3>20:00</h3></div>
      </div>
    </div>

    <div class="container">
      <div class ="box">
        <div class = "klass"><h2>BM24</h2></div>
        <div class ="content"><h3>{{foura}}</h3></div>
      </div>
      <div class ="box">
        <div class = "klass"><h2>EK24</h2></div>
        <div class ="content"><h3>14:30</h3></div>
      </div>
      <div class ="box">
        <div class = "klass"><h2>NA24</h2></div>
        <div class ="content"><h3>12:30</h3></div>
      </div>
      <div class ="box">
        <div class = "klass"><h2>SA24</h2></div>
        <div class ="content"><h3>15:30</h3></div>
      </div>
      <div class ="box">
        <div class = "klass"><h2>DP24</h2></div>
        <div class ="content"><h3>20:00</h3></div>
      </div>
    </div>

    <div class="container">
      <div class ="box">
        <div class = "klass"><h2>BM25</h2></div>
        <div class ="content"><h3>15:45</h3></div>
      </div>
      <div class ="box">
        <div class = "klass"><h2>EK25</h2></div>
        <div class ="content"><h3>14:30</h3></div>
      </div>
      <div class ="box">
        <div class = "klass"><h2>NA25</h2></div>
        <div class ="content"><h3>12:30</h3></div>
      </div>
      <div class ="box">
        <div class = "klass"><h2>SA25</h2></div>
        <div class ="content"><h3>15:30</h3></div>
      </div>
      <div class ="box">
        <div class = "klass"><h2>MYP5</h2></div>
        <div class ="content"><h3>20:00</h3></div>
      </div>
    </div>
      


  </body>
</html>
